/* ---------------------------------------------------- */
/* PROFILE PAGE */

#page-header{
    background-image: url("/img/banner/b1.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
    color: #ffffff;
    font-size: 60px;
}

#page-header p{
    color: #ffffff;
    font-size: 20px;
}



.products-preview{
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(55px);
    display: none;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 420px;
    background: rgba(0, 0, 0, 0.199);
    border: 1px solid rgba(255, 255, 255, 0.417);
    color: #ffffff;
    border-radius: 25px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    background: rgba(52, 0, 0, 0.271);
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #ffffff;
}

.input-box input:focus{
    border: 1px solid #ff0000;
    transition: 0.3s ease;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14.5px;
}

.wrapper .rem-password{
    padding-bottom: 15px;
}

.wrapper .rem-password a,
.register-link p a{
    color: #4b4b4b;
    text-decoration: none;
}

.wrapper .rem-password a:hover,
.register-link p a:hover{   
    color: #ff0000;
    transition: 0.3s ease;
}

.wrapper button{
    width: 40%;
    font-size: 15.5px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 50px;
}

.wrapper button:hover{
    background-color: #d60000;
    transition: 0.4s ease;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p{
    color: #4b4b4b;
}









