@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-p1-home{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover{
    transform: scale(0.9);
    background-color: #be0000;
    transition: 0.5s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #ffffff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}


/* ------------------------------------------------------------- */
/* HEADER */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(40px);
    border-bottom: 2px solid rgb(213, 213, 213);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 50px;
    right: 50px;
}

#header .logo{
    width: 195px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* navbar text */
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 610;
    color: #000000;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ff0000;
}

/* -------------------------------------------------------- */
/* HOME PAGE */
/* HERO SLIDE 1 */

#hero1{
    /* background-image: url("/img/hero1.png"); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* novatech text */
#hero1 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

/* Discover Best Technology */
#hero1 h4{
    padding-bottom: 50px;
    padding-left: 8px;
    color: #4b4b4b;
}

/* Genuine Tech */
#hero1 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #4b4b4b;
    padding-bottom: 60px;
}


#hero1 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    border: 2px solid #ff0000;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero1 button:hover{
    background-color: #ffffff;
    border: 2px solid #ff0000;
    color: #ff0000;
    transition: 0.4s ease;
}

/* HERO SLIDE 2 */

#hero2{
    /* background-image: url("/img/hero4.png"); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero2 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

#hero2 h4{
    padding-bottom: 50px;
    padding-left: 8px;
    color: #4b4b4b;
}

#hero2 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #4b4b4b;
    padding-bottom: 60px;
}

#hero2 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    border: 2px solid #ff0000;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero2 button:hover{
    background-color: #ffffff;
    border: 2px solid #ff0000;
    color: #ff0000;
    transition: 0.4s ease;
}

/* HERO SLIDE 3 */

#hero3{
    /* background-image: url("/img/hero3.png"); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero3 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

#hero3 h4{
    padding-bottom: 50px;
    padding-left: 8px;
    color: #4b4b4b;
}

#hero3 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #4b4b4b;
    padding-bottom: 60px;
}

#hero3 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    border: 2px solid #ff0000;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero3 button:hover{
    background-color: #ffffff;
    border: 2px solid #ff0000;
    color: #ff0000;
    transition: 0.4s ease;
}

/* Fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* ----------------------------------------------------------- */
/* LOGO BOXES */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: flex;
}

/* each logo box */
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(190, 190, 190, 0.02);
    border: 2px solid #d1d1d1;
    border-radius: 25px;
    margin: 15px 0;
    transition: 0.3s ease;
}

#feature .fe-box:hover{
    box-shadow: 0 0 8px rgb(187, 187, 187);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

/* logo box text */
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #4b4b4b;
}

/* ---------------------------------------------------------- */
/* FEATURED PRODUCT CARDS*/

#product1{
    text-align: center;
}

/* Featured Products */
#product1 .heading1{
    color: #ff0000;
    font-size: 75px;
    font-weight: 650;
    padding-bottom: 30px;
}

/* Discover the latest products from a wide range of brands */
#product1 .sub1{
    font-size: 20px;
    font-weight: 500;
    color: #4b4b4b;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* each product */
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #d1d1d1;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(189, 189, 189, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 0 0 8px rgb(187, 187, 187);
}

#product1 .pro img{
    width: 100%;
}

/* description */
#product1 .pro .des{
    text-align: start;
    padding: 10px 8px;
}

#product1 .pro .des .span{
    color: #464646;
    font-size: 12px;
}

/* product name */
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

/* stars */
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(255, 166, 0);
}

#product1 .pro .des span{
    font-size: 13px;
}

/* price */
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #ff0000;
}

/* add to cart button */
#product1 .pro .cart{
    width: 90px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(220, 220, 220);
    font-weight: 600;
    color: #000000;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}

#product1 .pro .cart:hover{
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    transition: 0.4s ease;
}

#product1 .shop-btn{
    width: 185px;
    height: 60px;
    border: 2px solid #ff0000;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ff0000;
}

#product1 .shop-btn:hover{
    background-color: #ff0000;
    color: #ffffff;
    transition: 0.4s ease;
}

/* --------------------------------------------------------- */
/* BANNER */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/iPhone-15-General-Feature-Black.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/banner/galaxy_s23_ultra_green_1685683384322.webp");
}

/* iPhone deals */
#sm-banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

/* Price drop 30% */
#sm-banner h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

/* Enjoy seasonal offers for Apple products */
#sm-banner span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #ff0000;
    border: 1px solid #ff0000;
}

/* small 3 banners */
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/redmibanner.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/onebanner.webp");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/pxbanner.webp");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #4b4b4b;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ff0000;
    font-weight: 800;
    font-size: 15px;
}

#banner3 h4{
    font-weight: 500;
    font-size: 12px;
}


/* --------------------------------------------------------- */
/* FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid #909090;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo-footer{
    margin-bottom: 30px;
    width: 250px;
}

/* footer headings */
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #ff0000;
}

/* contact details */
footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

/* links text */
footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer.follow{
    margin-top: 20px;
}

footer .follow i{
    font-size: 20px;
    color: #464646;
    padding-right: 20px;
    cursor: pointer;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #ff0000;
    transition: 0.3s ease;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

