@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-p1-home{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #ffffff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}


/* ------------------------------------------------------------- */
/* HEADER */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(40px);
    /* box-shadow: 0 8px 20px rgb(255, 255, 255); */
    border-bottom: 2px solid rgb(213, 213, 213);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 50px;
    right: 50px;
}

#header .logo{
    width: 195px;
}

#header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(136, 136, 136, 0.4), transparent);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ff0000;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 3px;
    border-radius: 50px;
    background: #ff0000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* -------------------------------------------------------- */
/* HOME PAGE */
/* HERO SLIDE 1 */

#hero1{
    background-image: url("img/hero1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero1 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

#hero1 h4{
    padding-bottom: 50px;
    padding-left: 8px;
}

#hero1 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #000000;
    padding-bottom: 60px;
    /* padding-bottom: 110px; */
}

#hero1 p{
    font-size: 20px;
    font-weight: 600;
    color: #0000009b;
    position: absolute;
    bottom: 150px;
    left: 85px;
}

#hero1 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero1 button:hover{
    box-shadow: 0 0 8px rgb(108, 108, 108);
    transition: 0.3s ease;
}

/* HERO SLIDE 2 */

#hero2{
    background-image: url("img/hero2.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero2 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

#hero2 h4{
    padding-bottom: 50px;
    padding-left: 8px;
}

#hero2 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #000000;
    padding-bottom: 60px;
    /* padding-bottom: 110px; */
}

#hero2 p{
    font-size: 20px;
    font-weight: 600;
    color: #0000009b;
    position: absolute;
    bottom: 150px;
    left: 85px;
}

#hero2 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero2 button:hover{
    box-shadow: 0 0 8px rgb(108, 108, 108);
    transition: 0.3s ease;
}

/* HERO SLIDE 3 */

#hero3{
    background-image: url("img/hero3.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero3 h2{
    font-size: 115px;
    font-weight: 610;
    letter-spacing: 2.5px;
    color: #ff0000;
    padding-bottom: 50px;
}

#hero3 h4{
    padding-bottom: 50px;
    padding-left: 8px;
}

#hero3 h1{
    font-size: 75px;
    letter-spacing: 2px;
    color: #000000;
    padding-bottom: 60px;
    /* padding-bottom: 110px; */
}

#hero3 p{
    font-size: 20px;
    font-weight: 600;
    color: #0000009b;
    position: absolute;
    bottom: 150px;
    left: 85px;
}

#hero3 button{
    width: 185px;
    height: 60px;
    background-color: #ff0000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

#hero3 button:hover{
    box-shadow: 0 0 8px rgb(108, 108, 108);
    transition: 0.3s ease;
}

/* Fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* ----------------------------------------------------------- */
/* FEATURES */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: flex;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(190, 190, 190, 0.02);
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    margin: 15px 0;
    transition: 0.3s ease;
}

#feature .fe-box:hover{
    box-shadow: 0 0 8px rgb(187, 187, 187);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    /* background-color: rgb(255, 0, 0); */
}

/* ---------------------------------------------------------- */
/* PRODUCTS */

#product1{
    text-align: center;
}

#product1 .heading1{
    color: #ff0000;
    font-size: 75px;
    font-weight: 650;
    padding-bottom: 30px;
}

#product1 .sub1{
    font-size: 20px;
    font-weight: 500;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(189, 189, 189, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 0 0 8px rgb(187, 187, 187);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des .span{
    color: #464646;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(255, 166, 0);
}

#product1 .pro .des span{
    font-size: 13px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #ff0000;
}

#product1 .pro .cart{
    width: 90px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(220, 220, 220);
    font-weight: 600;
    color: #000000;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}

#product1 .pro .cart:hover{
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    transition: 0.4s ease;
}

#product1 .shop-btn{
    width: 185px;
    height: 60px;
    border: 2px solid #ff0000;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #ff0000;
}

#product1 .shop-btn:hover{
    background-color: #ff0000;
    color: #ffffff;
    transition: 0.4s ease;
}

/* --------------------------------------------------------- */
/* BANNER */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/iPhone-15-General-Feature-Black.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/banner/galaxy_s23_ultra_green_1685683384322.webp");
}

#sm-banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #ff0000;
    border: 1px solid #ff0000;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/redmibanner.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/onebanner.webp");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/pxbanner.webp");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #000000;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ff0000;
    font-weight: 800;
    font-size: 15px;
}

#banner3 h4{
    font-weight: 500;
    font-size: 12px;
}

/* --------------------------------------------------------- */
/* FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo-footer{
    margin-bottom: 30px;
    width: 250px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #ff0000;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer.follow{
    margin-top: 20px;
}

footer .follow i{
    font-size: 20px;
    color: #464646;
    padding-right: 20px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #464646;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #ff0000;
    transition: 0.3s ease;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* ----------------------------------------------------------- */
/* SHOP PAGE */

#page-header{
    background-image: url("img/banner/b1.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #ffffff;
}

/* ----------------------------------------------------------- */
/* PAGINATION */

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #d60000;
    padding: 10px 20px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover{
    background-color: #ff0000;
    transition: 0.3s ease;
}

/* ---------------------------------------------------- */
/* SEARCH ENGINE */

.search-engine{
    width: 95%;
    /* margin: 0 auto; */
    padding-top: 50px;
}

#search-container{  
    margin: 1em 0 ;
}

#search-container input{
    background-color: transparent;
    font-size: 15px;
    width: 40%;
    border: 2px solid #000000;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    padding: 1em 2em;
}

#search-container input:focus{
    border: 2px solid #ff0000;
    transition: 0.4s ease;
    /* border-bottom-color: #ff0000; */
}

#search-container button{
    width: 9%;
    height: 8.6%;
    padding: 1em 2em;
    font-size: 15px;
    background-color: #d60000;
    color: #ffffff;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    margin-top: 0.5em;
}

#search-container button:hover{
    background-color: #ff0000;
    transition: 0.4s ease;
}

.button-value{
    border: 2px solid #ff0000;
    padding: 0.5em 1em;
    border-radius: 3em;
    background-color: transparent;
    color: #ff0000;
    cursor: pointer;
}

.button-value:hover{
    background-color: #ff0000;
    color: #ffffff;
    transition: 0.4s ease;
}

.active-btn{
    background-color: #ff0000;
    color: #ffffff;
}


/* ---------------------------------------------------- */
/* PRODUCT DETAILS */

.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(55px);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview{
    display: none;
    padding: 2rem;
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.199);
    border: 1px solid rgba(255, 255, 255, 0.417);
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.187); */
    border-radius: 25px;
    position: relative;
    margin: 6rem;
    width: 60%;
    height: 500px;
}

.products-preview .preview .single-pro-details{
    width: 60%;
    padding-top: 30px;
    text-align: left;
}

.products-preview .preview .single-pro-details h2{
    font-size: 28px;
    position: absolute;
    top: 40px;
}

.products-preview .preview .single-pro-details h4{
    font-size: 26px;
    padding: 40px 0 20px 0;
}

.products-preview .preview .single-pro-details #details{
    font-size: 26px;
    padding: 10px 0 1px 0;
}

.products-preview .preview .single-pro-details h6{
    font-size: 15px;
    font-weight: 500;
    padding: 20px 0 5px 0;
}

.products-preview .preview .single-pro-details select{
    background: rgba(52, 0, 0, 0.271);
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-radius: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
    height: 35px;
}

.products-preview .preview .single-pro-details select:hover{
    border: 1px solid #ff0000;
    transition: 0.3s ease;
}

.products-preview .preview .single-pro-details input{
    background: rgba(52, 0, 0, 0.271);
    border: 1px solid rgba(255, 255, 255, 0.409);
    width: 50px;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 8px;
}

.products-preview .preview .single-pro-details input:hover{
    border: 1px solid #ff0000;
    transition: 0.3s ease;
}

.products-preview .preview .single-pro-details input:focus{
    outline: none;
}

.products-preview .preview button{
    background: #d60000;
    color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 350px;
    left: 80px;
    
}

.products-preview .preview button:hover{
    background: #ff0000;
    transition: 0.5s ease;
}

button.wishlist-btn{
    height: 52px;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.products-preview .preview .wishlist-btn{
    background: #d60000;
    color: #ffffff;
    border-radius: 50px;
    position: absolute;
    bottom: 200px;
    left: 240px;
}

.products-preview .preview.active{
    display: flex;
    justify-content: space-between;
}

.products-preview .preview img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.products-preview .preview .single-pro-details a{
    text-decoration: none;
    color: #ffffff;
    background: #d60000;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 267px;
    right: 165px;
    padding: 5px 10px;
}

.products-preview .preview .single-pro-details a:hover{
    background: #ff0000;
    transition: 0.5s ease;
}

.products-preview .preview .single-pro-details i{
    color: #d60000;
    font-size: 20px;
    position: absolute;
    top: 112px;
    right: 315px;
}

.products-preview .preview .single-pro-details #warranty{
    color: #d60000;
    font-size: 15px;
    font-weight: 650;
    position: absolute;
    top: 91px;
    right: 182px;
}

.products-preview .preview .single-pro-details span{
    color: #d60000;
    font-size: 15px;
    font-weight: 500;
}

.products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 20px;
}


/* ---------------------------------------------------- */
/* ABOUT US */

#page-header .about-header{
    background-image: url("img/about/banner.png");
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
    border-radius: 25px;
}

#about-head div{
    padding-left: 40px;
}


