/* PROFILE PAGE */

#page-header{
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2{
    color: #ffffff;
    font-size: 60px;
}

#page-header p{
    color: #ffffff;
    font-size: 20px;
}



#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 100px;
}

/* cart table headings */

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

/* product title */
#cart table td:nth-child(2){
    width: 100px;
    text-align: center;
    font-size: 15.5px;
    font-weight: 600;
}

/*name  */
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
    font-size: 15.5px;
    font-weight: 600;
}

/* price, num, subtotal */
#cart table td:nth-child(4),
#cart table td:nth-child(5){
    width: 150px;
    text-align: center;
    font-size: 15.5px;
    font-weight: 600;
}

/* quantity selecting */

#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
    background: rgba(52, 0, 0, 0.271);
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-radius: 10px;
    font-weight: 600;
}

#cart table td:nth-child(4) input:focus{
    border: 1px solid #ff0000;
}



#cart table tr{
    border: 1px solid #c7c7c7;
    border-left: none;
    border-right: none;
}

#cart tr:hover {
    background-color: #ededed;
    transition: 0.3s ease;
}

#cart table thead td{
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

/* trash */
#cart i{
    font-size: 18px;
}

/* address and subtotal table */

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#address{
    width: 50%;
    margin-bottom: 30px;
    padding-left: 20px;
}



#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 2px solid #909090;
    padding: 30px;
    border-radius: 25px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 2px solid #909090;
    padding: 10px;
    font-size: 18px;
}

/* shipping address, total payment */
#subtotal h3,
#address h3{
    font-size: 30px;
    padding-bottom: 15px;
}

#subtotal button{
    font-size: 15.5px;
}


